#container{
    height: 250px;
    display: flex;
    align-items: flex-end;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bar{
    width: 20px;
    background-color: rgb(23, 22, 25);
    margin: 1px;
}